/*!!!!!!!!!!!!SLIDER!!!!!!!!!!!!!!!--->*/
.containerofhomepageslider {
    width: 100%;
}


.slide-container .prev, .slide-container .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    text-decoration: none;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    transition: all 0.6s ease;
    user-select: none;
}
.slide-container .prev {
    border-radius: 0 3px 3px 0;
}
.slide-container .next {
    border-radius: 3px 0 0 3px;
}

.slide-container .prev:hover, .slide-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.slide-container .prev {
    left: 0px;
}

.slide-container .next {
    right: 0px;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.dots-container .dot {
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
    color: rgb(181, 181, 181);
    border-radius: 50%;
    background-color: rgb(181, 181, 181);
}

.dots-container .dot.active {
    border: 2px solid rgb(0, 0, 0);
}


.slide-container, .dots-container {
    width: 100%;
}
.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.slide-container .slide {
    display: none;
    width: 100%;
}

.slide-container .slide.fade {
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
    width: 100%;
}
/*<---!!!!!!!!!!!!SLIDER!!!!!!!!!!!!!!!*/


/*!!!!!!!!!!!!CONTAINEROFHOMEPAGE!!!!!!!!!!!!!!!--->*/
.containerforheaderofmodellist {
    display: flex;
    justify-content: center;
    margin-top: 31px;
    padding-top: 20px;
    margin-bottom: 16px;
}
.headerofmodellist {
    font-size: 36px;
    font-weight: 600;
}
section.gallery{
    position: relative;
    padding: 45px 0;
}

.gallery-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 0;
    margin-top: 30px;
}
.gallery-item{
    display: block;
    flex: 33.3%;
    overflow: hidden;
    position: relative;
}
.gallery-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    opacity: 0;
    transition: opacity .5s ease;
    z-index: 2;
}

.gallery-item:hover .gallery-item-hover{
    opacity: 1;
}
.gallery-item:hover img{
    transform: scale(1.3) rotate(5deg);
}
.gallery-item img{
    max-width: 100%;
    height: auto;
    transition: all .5s ease;
}
@media (max-width: 991px){
    .gallery-item{
        flex: 50%;
    }
}
@media (max-width: 768px){
    .gallery-item{
        flex: 100%;
    }
}