/*!!!!!!!!!SERVICES!!!!!!!!!!!--->*/
.containerforservicespage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-column: 1fr 1fr;
    column-gap: 60px;
    row-gap: 40px;
}
.containerforservicespage .headerforservices {
    font-weight: 500;
    font-size: 26px;  
    margin-bottom: 16px;  
    margin-top: 20px;
}
.containerforservicespage div img, .containerforservicespage div a img {
    grid-column: 1;
    width: 500px;
}
.containerforservicespage .textforservices {
    grid-column: 2;
}

.containerforservicespage .textforservices div a {
    text-decoration: none;
    color: black;
}
.containerforservicespage .textforservices div a:hover {
    color: rgb(173, 2, 2);
}

.containerforservicespage .textforservices .infoforservices form button {
    width: 180px;
    height: 3em;
    font-size: 16px;
    background-color: rgb(64, 64, 64);
    color: white;
    border: none;
    margin-top: 16px;
}
.containerforservicespage .textforservices .infoforservices form button:hover {
    background-color: rgb(193, 34, 34);
    transition: 0.3s;
}
.headerinbeginningofpageservices {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

@media (max-width: 1180px) {
    .containerforservicespage {
        width: 90%;
        column-gap: 40px;
    }
    .headerinbeginningofpageservices {
        width: 90%;
    }
}
@media (max-width: 1100px) {
    .containerforservicespage .headerforservices {
        margin-bottom: 10px;  
        margin-top: 10px;
    }
}
@media (max-width: 1000px) {
    .containerforservicespage {
        width: 96%;
    }
    .headerinbeginningofpageservices {
        width: 96%;
    }
    .containerforservicespage div img, .containerforservicespage div a img {
        width: 400px;
    }
    .containerforservicespage .headerforservices {
        margin-bottom: 4px;  
        margin-top: 4px;
    }
}
@media (max-width: 950px) {
    .containerforservicespage {
        column-gap: 20px;
    }
    .containerforservicespage .headerforservices {
        margin-bottom: 2px;  
        margin-top: 2px;
    }
}
@media (max-width: 870px) {
    .containerforservicespage {
        width: 97%;
        grid-column: 1fr;
        row-gap: 0px;
    }
    .headerinbeginningofpageservices {
        width: 97%;
    }
    .containerforservicespage .textforservices {
        grid-column: 1;
        margin-bottom: 60px; 
    }
    .containerforservicespage .marginlower {
        margin-bottom: 0px; 
    }
    .containerforservicespage div img, .containerforservicespage div a img {
        grid-column: 1;
    }
    .containerforservicespage div img, .containerforservicespage div a img {
        width: 100%; 
    }
    .containerforservicespage .headerforservices {
        margin-bottom: 8px; 
        margin-top: 4px; 
    }
}
/*<---!!!!!!!!!SERVICES!!!!!!!!!!!*/